Repository INFOM126-Automated-Software-Engineering/2048-groupe-07, pull requests merged in 2024-12, with the labels that each got.

#11 Update labeler.yml
  .github/labeler.yml
Labels: release, update

#13 Add docker
  .dockerignore
  Dockerfile
  documentation/DOCKER.md
Labels: documentation, release, update, root

#12 Test de la github actions Maven et résolution de bug
  src/main/java/be/unamur/game2048/models/GameParams.java
Labels: bug, release, update, source

#15 Add documentation globale
  README.md
Labels: release, update, root

#16 Finish README.md-v1
  README.md
Labels: release, update, root

#17 [Add] template github_action
  template/GitHub_actions_template.md
Labels: release, update

#18 Documentation PROJET2048_structure
  documentation/PROJECT2048_STRUCTURE.md
Labels: documentation, release, update

#19 [Add] ISSUE_TEMPLATE and many templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
Labels: release, update

#20 Update README.md
  README.md
Labels: release, update, root

#21 Create CONTRIBUTING.md v1
  CONTRIBUTING.md
Labels: creation, release, update, root

#22 [Add] README.md for documentation folder
  documentation/README.md
Labels: documentation, creation, release, update

#23 Update README.md for Template folder
  template/README.md
Labels: release, update

#26 Add documentation Test
  documentation/PROJECT2048_STRUCTURE.md
  documentation/TEST.md
Labels: documentation, release, update

#28 Create github action detect-duplicates.yml
  .github/workflows/detect-duplicates.yml
Labels: release, update

#29 Create github action invalid-labeler.yml
  .github/workflows/invalid-labeler.yml
Labels: release, update

#30 Update DOCKER.md
  documentation/DOCKER.md
Labels: documentation, release, update

#31 Update invalid-labeler.yml
  .github/workflows/invalid-labeler.yml
Labels: release, update

#33 Depot action coverage
  .github/workflows/code-coverage.yml
  pom.xml
Labels: release, update, root

#34 Contributing final version
  CONTRIBUTING.md
Labels: release, update, root

#35 Add documentation Duplicate
  documentation/DETECT_DUPLICATE.md
Labels: documentation, release, update

#37 Update README.md
  documentation/README.md
Labels: documentation, release, update
